body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: hsl(217, 54%, 11%);
    color: white;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}
.container{
    background-color: hsl(216, 50%, 16%);
    width: 340px;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
.image{
    height: 300px;
    margin-top: 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 3s ease;
}
h1{
    font-weight: 600;
    margin-left: -1.8rem;
    cursor: pointer;
}
h1:hover{
    color: hsl(178, 100%, 50%);
}
p{
    font-size: 18px;
    color: hsl(215, 51%, 70%);
    margin: 0 1.5rem;
}

.items{
    display: flex;
    gap: 4.7rem;
    color: hsl(215, 51%, 70%);
    border-bottom: 1px solid hsl(215, 51%, 70%);
}
.item1{
    color: hsl(178, 100%, 50%);
}
.sm-img{
    margin-right: 0.5rem;
}

.user{
    display: flex;
    margin-top: 1rem;
    align-items: center;
}
.user-img{
    height: 30px;
    border: 1px solid;
    border-radius: 50%;
    margin-left: -1.5rem;
}
.user span{
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    cursor: pointer;
}
.user span:hover{
    color: hsl(178, 100%, 50%);
}
.user p{
    margin-left: 0.8rem;
}